<!DOCTYPE html>
<html lang="en">
<head>
        <style>
body { font-family: sans-serif; font-size: 16px; width: 100%;}
h1   {color: blue;}
.tbl {padding-left: 20px}
td,th  {padding: 5px;}
 .action {padding: 20px 0px 20px 25px;}
 h2 {padding-left: 20px;}
 #map {width: 100%; height: 500px; padding: 0px 0px 0px 0px;}
</style>

    <meta charset="UTF-8">
    <title>Title</title>
<script>
    const areas_data = {{ areas_data | tojson}}
</script>

    <script src=https://api-maps.yandex.ru/v3/?apikey=988055a8-01e7-4f09-af12-3aa07bf50caa&lang=ru_RU></script>
<script src=/static/susanin.js></script>


</head>
<body >

<h2> Активные задачи для {{c_user_name}} </h2>

<div class="action"><a href="/newtask">Создать новую задачу</a></div>

<table class="tbl">
    <tr>
        <th>номер</th>
        <th>участок</th>
        <th>работник</th>
        <th>супервайзер</th>
        <th>создана</th>
        <th>завершена</th>
        <th>статус</th>
    </tr>
   {% for t in tasks %}
    <tr>
        <td>{{t.task_id}}</td>
        <td>{{t.area_address}}</td>
        <td>{{t.doer_name}}</td>
        <td>{{t.master_name}}</td>
        <td>{{t.start_date}}</td>
        <td>{{t.done_date}}</td>
        <td>{{t.status}}</td>
    </tr>
    {% endfor %}
</table>

<h2>Статус участков</h2>
<div id="map" ></div>


</body>
</html>
